# From Python to R
Dimitri Marinelli  
25/5/2021 - #DataForGood - CorrelAid Rhein-Main  


`rpy2` provides an interface between Python and R.  
<img src="https://rpy2.github.io/doc/latest/html/_images/rpy2_logo.png">

In [11]:
import rpy2
print(rpy2.__version__)

3.4.4

From the [documentation](https://rpy2.github.io/doc/v3.4.x/html/overview.html#design-notes) 
> The package is made of several sub-packages or modules:
> 
> - `rpy2.rinterface` - Low-level interface to R, when speed and flexibility
> matter most. Close to R's C-level API.
> 
> - `rpy2.robjects` - High-level interface, when ease-of-use matters most.
> Should be the right pick for casual and general use.
> Based on the previous one.
> 
> - `rpy2.interactive` - High-level interface, with an eye for interactive work. Largely based
> on `rpy2.robjects`.
> 
> - `rpy2.rlike` - Data structures and functions to mimic some of R's features and specificities
> in pure Python (no embedded R process).

## Load libraries and install packages

In [2]:
from rpy2.robjects.packages import importr
# import R's "base" package
base = importr('base')

# import R's "utils" package
utils = importr('utils')

In robjects, there is a module for managing the packages

In [3]:
# import rpy2's package module
import rpy2.robjects.packages as rpackages

# import R's utility package
utils = rpackages.importr('utils')

In [4]:
# select a mirror for R packages
utils.chooseCRANmirror(ind=36) # select the 36th mirror in the list

<rpy2.rinterface_lib.sexp.NULLType object at 0x7f88dc29ecd0> [RTYPES.NILSXP]

In [5]:
# R package names
packnames = ('ggplot2', 'tidyverse')

# R vector of strings
from rpy2.robjects.vectors import StrVector

StrVector?

Init signature: StrVector(obj)
Docstring:
Vector of string elements

StrVector(seq) -> StrVector.

The parameter 'seq' can be an instance inheriting from
rinterface.SexpVector, or an arbitrary Python sequence.
In the later case, all elements in the sequence should be either
strings, or have a str() representation.
File:           ~/miniconda3/envs/PyAndR/lib/python3.7/site-packages/rpy2/robjects/vectors.py
Type:           ABCMeta
Subclasses:     StrArray, StrMatrix

In [6]:
# utils.install_packages(StrVector(packnames))

With conda I had to install tidyverse with `conda install r-tidyverse`

## Use R in Jupyter 

Let's load a dataset

In [12]:
import seaborn as sns
planets = sns.load_dataset("planets")
planets.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [13]:
%load_ext rpy2.ipython

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython

In [15]:
%%R -i planets -o planets_mutated
library("tidyverse")
planets_mutated <- planets %>% as_tibble() %>%  
    mutate(op_mass_ratio = orbital_period / mass)
planets_mutated

# A tibble: 1,035 x 7
   method          number orbital_period   mass distance  year op_mass_ratio
   <chr>            <int>          <dbl>  <dbl>    <dbl> <int>         <dbl>
 1 Radial Velocity      1           269.   7.1      77.4  2006          37.9
 2 Radial Velocity      1           875.   2.21     57.0  2008         396.
 3 Radial Velocity      1           763    2.6      19.8  2011         293.
 4 Radial Velocity      1           326.  19.4     111.   2007          16.8
 5 Radial Velocity      1           516.  10.5     119.   2009          49.2
 6 Radial Velocity      1           186.   4.8      76.4  2008          38.7
 7 Radial Velocity      1          1773.   4.64     18.2  2002         382.
 8 Radial Velocity      1           798. NaN        21.4  1996         NaN
 9 Radial Velocity      1           993.  10.3      73.1  2008          96.4
10 Radial Velocity      2           453.   1.99     74.8  2010         228.
# … with 1,025 more rows

In [16]:
planets_mutated

,method,number,orbital_period,mass,distance,year,op_mass_ratio
1,Radial Velocity,1,269.300000,7.10,77.40,2006,37.929577
2,Radial Velocity,1,874.774000,2.21,56.95,2008,395.825339
3,Radial Velocity,1,763.000000,2.60,19.84,2011,293.461538
4,Radial Velocity,1,326.030000,19.40,110.62,2007,16.805670
5,Radial Velocity,1,516.220000,10.50,119.47,2009,49.163810
...,...,...,...,...,...,...,...
1031,Transit,1,3.941507,NaN,172.00,2006,NaN
1032,Transit,1,2.615864,NaN,148.00,2007,NaN
1033,Transit,1,3.191524,NaN,174.00,2007,NaN
1034,Transit,1,4.125083,NaN,293.00,2008,NaN
1035,Transit,1,4.187757,NaN,260.00,2008,NaN

more information on the interactivity and the possible options https://rpy2.github.io/doc/latest/html/interactive.html